In [1]:
import pandas as pd
import numpy as np

In [2]:
bj_aq = pd.read_csv('../input/beijing_aq.csv')

In [3]:
bj_aq.head()

         stationId             utc_time  PM2.5   PM10    NO2   CO   O3  SO2
0  aotizhongxin_aq  2017-01-01 14:00:00  453.0  467.0  156.0  7.2  3.0  9.0
1  aotizhongxin_aq  2017-01-01 15:00:00  417.0  443.0  143.0  6.8  2.0  8.0
2  aotizhongxin_aq  2017-01-01 16:00:00  395.0  467.0  141.0  6.9  3.0  8.0
3  aotizhongxin_aq  2017-01-01 17:00:00  420.0  484.0  139.0  7.4  3.0  9.0
4  aotizhongxin_aq  2017-01-01 18:00:00  453.0  520.0  157.0  7.6  4.0  9.0

In [4]:
bj_aq.describe()

,PM2.5,PM10,NO2,CO,O3,SO2
count,336971.000000,264255.000000,338710.000000,314286.000000,336698.000000,338766.000000
mean,60.995655,91.359789,46.026560,0.968217,55.204771,9.182288
std,66.928412,102.368705,32.149111,0.966915,51.746391,11.557907
min,2.000000,5.000000,1.000000,0.100000,1.000000,1.000000
25%,16.000000,38.000000,20.000000,0.400000,13.000000,2.000000
50%,41.000000,71.000000,40.000000,0.700000,46.000000,5.000000
75%,81.000000,116.000000,66.000000,1.200000,78.000000,12.000000
max,1574.000000,3280.000000,300.000000,15.000000,504.000000,307.000000

In [5]:
len(bj_aq)

360430

In [6]:
bj_aq.columns

Index(['stationId', 'utc_time', 'PM2.5', 'PM10', 'NO2', 'CO', 'O3', 'SO2'], dtype='object')

In [32]:
bj_aq1 = pd.read_csv('../input/bj_aq_ex.csv')

In [33]:
bj_aq1.columns

Index(['id', 'station_id', 'time', 'PM25_Concentration', 'PM10_Concentration',
       'NO2_Concentration', 'CO_Concentration', 'O3_Concentration',
       'SO2_Concentration'],
      dtype='object')

In [34]:
len(bj_aq.columns)

8

In [35]:
len(bj_aq1.columns)

9

In [36]:
bj_aq.columns = ['StationId', 'UtcTime', 'PM25', 'PM10', 'NO2', 'CO', 'O3', 'SO2']

In [37]:
bj_aq.tail()

,StationId,UtcTime,PM25,PM10,NO2,CO,O3,SO2
6050,qianmen_aq,2018-04-08 08:00:00,38.0,97.0,32.0,0.6,98.0,7.0
6051,yongdingmennei_aq,2018-04-08 08:00:00,33.0,85.0,40.0,0.6,104.0,17.0
6052,xizhimenbei_aq,2018-04-08 08:00:00,44.0,93.0,52.0,0.7,79.0,8.0
6053,nansanhuan_aq,2018-04-08 08:00:00,34.0,82.0,58.0,0.7,37.0,8.0
6054,dongsihuan_aq,2018-04-08 08:00:00,25.0,58.0,46.0,0.6,82.0,6.0

In [38]:
bj_aq1.drop(['id'], axis=1, inplace=True)

In [39]:
bj_aq1.columns = ['StationId', 'UtcTime', 'PM25', 'PM10', 'NO2', 'CO', 'O3', 'SO2']

In [40]:
bj_aq1.head()

          StationId              UtcTime   PM25   PM10   NO2   CO     O3   SO2
0         dongsi_aq  2018-03-31 07:00:00  105.0  172.0  53.0  0.8  127.0  14.0
1        tiantan_aq  2018-03-31 07:00:00   95.0  123.0  54.0  0.9  121.0  15.0
2       guanyuan_aq  2018-03-31 07:00:00   95.0  139.0  66.0  0.8  123.0  13.0
3  wanshouxigong_aq  2018-03-31 07:00:00   99.0  172.0  58.0  1.0  119.0  14.0
4   aotizhongxin_aq  2018-03-31 07:00:00  117.0  166.0  67.0  0.8  111.0  14.0

In [42]:
len(bj_aq1)

18690

In [43]:
bj_aq = bj_aq.append(bj_aq1)

In [44]:
len(bj_aq)

378385

In [45]:
bj_aq.drop_duplicates(subset=['StationId', 'UtcTime'], inplace=True)

In [46]:
len(bj_aq)

372330

In [47]:
bj_aq.tail()

,StationId,UtcTime,PM25,PM10,NO2,CO,O3,SO2
18685,qianmen_aq,2018-04-24 08:00:00,NaN,NaN,16.0,0.4,123.0,2.0
18686,yongdingmennei_aq,2018-04-24 08:00:00,17.0,18.0,31.0,0.3,139.0,7.0
18687,xizhimenbei_aq,2018-04-24 08:00:00,18.0,NaN,27.0,0.3,107.0,3.0
18688,nansanhuan_aq,2018-04-24 08:00:00,11.0,30.0,48.0,0.4,95.0,2.0
18689,dongsihuan_aq,2018-04-24 08:00:00,7.0,NaN,NaN,0.3,85.0,2.0

In [48]:
359695 / 35

10277.0

In [50]:
qianmen_aq = bj_aq[bj_aq['StationId'] == 'qianmen_aq']

In [51]:
len(qianmen_aq)

10638

In [52]:
qianmen_aq.head()

         StationId              UtcTime   PM25  PM10    NO2   CO   O3  SO2
186606  qianmen_aq  2017-01-01 14:00:00  436.0   NaN  157.0  6.8  2.0  5.0
186607  qianmen_aq  2017-01-01 15:00:00  443.0   NaN  161.0  7.2  2.0  5.0
186608  qianmen_aq  2017-01-01 16:00:00  429.0   NaN  153.0  7.3  2.0  5.0
186609  qianmen_aq  2017-01-01 17:00:00  448.0   NaN  166.0  7.5  2.0  5.0
186610  qianmen_aq  2017-01-01 18:00:00  452.0   NaN  161.0  7.4  2.0  5.0

In [53]:
import datetime as dt

In [56]:
start = dt.datetime(year=2017, month=1, day=1)

In [58]:
end = dt.datetime(year=2018, month=4, day=24, hour=8)

In [59]:
diff = end - start

In [64]:
diff.days * 24 + diff.seconds // 3600

11480

In [65]:
from dateutil.relativedelta import relativedelta

In [66]:
diff = relativedelta(start, end)

In [72]:
diff

relativedelta(years=-1, months=-3, days=-23, hours=-8)

In [75]:
pd.to_datetime(bj_aq.UtcTime).iloc[0]

Timestamp('2017-01-01 14:00:00')