In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
aqs_ld = pd.read_csv('input/London_AirQuality_Stations.csv')

In [11]:
aqs_ld.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>api_data</th>
      <th>need_prediction</th>
      <th>historical_data</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>SiteType</th>
      <th>SiteName</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>BX9</td>
      <td>True</td>
      <td>NaN</td>
      <td>True</td>
      <td>51.465983</td>
      <td>0.184877</td>
      <td>Suburban</td>
      <td>Bexley - Slade Green FDMS</td>
    </tr>
    <tr>
      <th>1</th>
      <td>BX1</td>
      <td>True</td>
      <td>NaN</td>
      <td>True</td>
      <td>51.465983</td>
      <td>0.184877</td>
      <td>Suburban</td>
      <td>Bexley - Slade Green</td>
    </tr>
    <tr>
      <th>2</th>
      <td>BL0</td>
      <td>True</td>
      <td>True</td>
      <td>True</td>
      <td>51.522287</td>
      <td>-0.125848</td>
      <td>Urban Background</td>
      <td>Camden - Bloomsbury</td>
    </tr>
    <tr>
      <th>3</th>
      <td>CD9</td>
      <td>True</td>
      <td>True</td>
      <td>True</td>
      <td>51.527707</td>
      <td>-0.129053</td>
      <td>Roadside</td>
      <td>Camden - Euston Road</td>
    </tr>
    <tr>
      <th>4</th>
      <td>CD1</td>
      <td>True</td>
      <td>True</td>
      <td>True</td>
      <td>51.544219</td>
      <td>-0.175284</td>
      <td>Kerbside</td>
      <td>Camden - Swiss Cottage</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
aqs_ld['Latitude']

0     51.465983
1     51.465983
2     51.522287
3     51.527707
4     51.544219
5     51.514525
6     51.513847
7     51.410039
8     51.490532
9     51.452580
10    51.486957
11    51.456357
12    51.456300
13    51.617327
14    51.520787
15    51.488780
16    51.521047
17    51.521047
18    51.474954
19    51.569484
20    51.425256
21    51.389287
22    51.515046
23    51.522540
Name: Latitude, dtype: float64

In [19]:
plt.scatter?